name: Check code/commit conventions

on: push

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5

    - name: Install asdf tools
      uses: egose/actions/asdf-tools@2d58a4812db6cab0a183efacffaadb25230a738f

    - name: Install python tools
      run: |
        pip install -r requirements.txt
        asdf reshim

    - name: Rerun Pre-Commit Hooks on CI
      run: pre-commit run --color=always --show-diff-on-failure --all-files

  commitlint:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      with:
        fetch-depth: 0
    - uses: wagoid/commitlint-github-action@b948419dd99f3fd78a6548d48f94e3df7f6bf3ed
