name: Test

on:
  pull_request:
    paths-ignore:
    - '**.md'
  push:
    paths-ignore:
    - '**.md'

jobs:
  plugin-test:
    runs-on: ubuntu-22.04
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - name: Install asdf
      uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47

    - name: Move database-tools plugin to asdf plugins dir
      run: |
        mkdir -p ${ASDF_DIR}/plugins
        cp -r . ${ASDF_DIR}/plugins/database-tools

    - name: Run database-tools plugin tests
      run: |
        echo "Trying to list all versions of database-tools"
        asdf list all database-tools
        echo "Trying to install database-tools 0.8.2"
        asdf install database-tools 0.8.2
        asdf list database-tools | grep 0.8.2

    - uses: asdf-vm/actions/plugin-test@b7bcd026f18772e44fe1026d729e1611cc435d47
      with:
        command: mongo-archive --help
